/*
  Icon Font: nunify-icons
*/

@font-face {
  font-family: "nunify-icons";
  src: url("./nunify-icons.eot");
  src: url("./nunify-icons.eot?#iefix") format("embedded-opentype"),
       url("./nunify-icons.woff2") format("woff2"),
       url("./nunify-icons.woff") format("woff"),
       url("./nunify-icons.ttf") format("truetype"),
       url("./nunify-icons.svg#nunify-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "nunify-icons";
    src: url("./nunify-icons.svg#nunify-icons") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.nu.nu-admin:before,
.nu.nu-aidaio:before,
.nu.nu-align-bottom:before,
.nu.nu-align-center:before,
.nu.nu-align-left:before,
.nu.nu-align-middle:before,
.nu.nu-align-right:before,
.nu.nu-align-top:before,
.nu.nu-analytics:before,
.nu.nu-angle-down:before,
.nu.nu-angle-left:before,
.nu.nu-angle-right:before,
.nu.nu-angle-up:before,
.nu.nu-arrow-down:before,
.nu.nu-arrow-left:before,
.nu.nu-arrow-right:before,
.nu.nu-arrow-up:before,
.nu.nu-attachment:before,
.nu.nu-ban:before,
.nu.nu-ban-filled:before,
.nu.nu-bar-chart:before,
.nu.nu-billboard:before,
.nu.nu-blockquote:before,
.nu.nu-bold:before,
.nu.nu-bookmark:before,
.nu.nu-bookmark-filled:before,
.nu.nu-booth:before,
.nu.nu-brightness:before,
.nu.nu-calendar:before,
.nu.nu-calendar-plus:before,
.nu.nu-call:before,
.nu.nu-call-end:before,
.nu.nu-camera:before,
.nu.nu-chat:before,
.nu.nu-chat-conversation:before,
.nu.nu-check:before,
.nu.nu-clear-format:before,
.nu.nu-clock:before,
.nu.nu-copy:before,
.nu.nu-copy-to:before,
.nu.nu-credit-card:before,
.nu.nu-credit-card-alt:before,
.nu.nu-crop:before,
.nu.nu-currency-bitcoin:before,
.nu.nu-currency-cny:before,
.nu.nu-currency-eur:before,
.nu.nu-currency-gbp:before,
.nu.nu-currency-inr:before,
.nu.nu-currency-jpy:before,
.nu.nu-currency-usd:before,
.nu.nu-cut:before,
.nu.nu-desktop:before,
.nu.nu-document:before,
.nu.nu-double-check:before,
.nu.nu-download:before,
.nu.nu-ellipsis:before,
.nu.nu-ellipsis-h:before,
.nu.nu-ext-avi:before,
.nu.nu-ext-bmp:before,
.nu.nu-ext-cpp:before,
.nu.nu-ext-css:before,
.nu.nu-ext-doc:before,
.nu.nu-ext-gif:before,
.nu.nu-ext-html:before,
.nu.nu-ext-java:before,
.nu.nu-ext-jpg:before,
.nu.nu-ext-js:before,
.nu.nu-ext-mov:before,
.nu.nu-ext-mp3:before,
.nu.nu-ext-mp4:before,
.nu.nu-ext-pdf:before,
.nu.nu-ext-php:before,
.nu.nu-ext-png:before,
.nu.nu-ext-ppt:before,
.nu.nu-ext-psd:before,
.nu.nu-ext-tiff:before,
.nu.nu-ext-txt:before,
.nu.nu-ext-vue:before,
.nu.nu-ext-wav:before,
.nu.nu-ext-xls:before,
.nu.nu-ext-zip:before,
.nu.nu-facebook:before,
.nu.nu-file-attachment:before,
.nu.nu-file-audio:before,
.nu.nu-file-avi:before,
.nu.nu-file-blank:before,
.nu.nu-file-bmp:before,
.nu.nu-file-code:before,
.nu.nu-file-cpp:before,
.nu.nu-file-css:before,
.nu.nu-file-doc:before,
.nu.nu-file-gif:before,
.nu.nu-file-html:before,
.nu.nu-file-image:before,
.nu.nu-file-java:before,
.nu.nu-file-jpg:before,
.nu.nu-file-js:before,
.nu.nu-file-mov:before,
.nu.nu-file-mp3:before,
.nu.nu-file-mp4:before,
.nu.nu-file-pdf:before,
.nu.nu-file-php:before,
.nu.nu-file-png:before,
.nu.nu-file-ppt:before,
.nu.nu-file-psd:before,
.nu.nu-file-tiff:before,
.nu.nu-file-txt:before,
.nu.nu-file-video:before,
.nu.nu-file-vue:before,
.nu.nu-file-wav:before,
.nu.nu-file-xls:before,
.nu.nu-file-zip:before,
.nu.nu-film-reel:before,
.nu.nu-flag:before,
.nu.nu-flag-filled:before,
.nu.nu-folder:before,
.nu.nu-folder-open:before,
.nu.nu-forward:before,
.nu.nu-forward-end:before,
.nu.nu-forward-filled:before,
.nu.nu-full-screen:before,
.nu.nu-full-screen-exit:before,
.nu.nu-gamepad:before,
.nu.nu-globe:before,
.nu.nu-globe-africa:before,
.nu.nu-globe-americas:before,
.nu.nu-gps:before,
.nu.nu-handshake:before,
.nu.nu-hd:before,
.nu.nu-hd-filled:before,
.nu.nu-hd-outline:before,
.nu.nu-heading:before,
.nu.nu-heading1:before,
.nu.nu-heading2:before,
.nu.nu-heading3:before,
.nu.nu-heading4:before,
.nu.nu-heading5:before,
.nu.nu-heading6:before,
.nu.nu-headphones:before,
.nu.nu-heart:before,
.nu.nu-heart-filled:before,
.nu.nu-hearts:before,
.nu.nu-hide:before,
.nu.nu-highlight-color:before,
.nu.nu-home:before,
.nu.nu-hospital:before,
.nu.nu-identity-card:before,
.nu.nu-identity-card-filled:before,
.nu.nu-image:before,
.nu.nu-indent-decrease:before,
.nu.nu-indent-increase:before,
.nu.nu-info:before,
.nu.nu-instagram:before,
.nu.nu-italic:before,
.nu.nu-join:before,
.nu.nu-laptop:before,
.nu.nu-layers:before,
.nu.nu-leaderboard:before,
.nu.nu-letter-spacing:before,
.nu.nu-lightbulb:before,
.nu.nu-lightbulb-on:before,
.nu.nu-line-break:before,
.nu.nu-line-height:before,
.nu.nu-link:before,
.nu.nu-link-remove:before,
.nu.nu-linkedin:before,
.nu.nu-list:before,
.nu.nu-list-bulleted:before,
.nu.nu-list-numbered:before,
.nu.nu-live:before,
.nu.nu-live-now:before,
.nu.nu-location:before,
.nu.nu-location-filled:before,
.nu.nu-lock:before,
.nu.nu-lounge:before,
.nu.nu-lounge-cushion:before,
.nu.nu-ltr:before,
.nu.nu-mail:before,
.nu.nu-mail-forward:before,
.nu.nu-mail-open:before,
.nu.nu-mail-reply:before,
.nu.nu-mail-reply-all:before,
.nu.nu-mailer:before,
.nu.nu-map:before,
.nu.nu-medal:before,
.nu.nu-medal-filled:before,
.nu.nu-menu:before,
.nu.nu-message:before,
.nu.nu-microphone:before,
.nu.nu-microphone-muted:before,
.nu.nu-minus:before,
.nu.nu-mobile:before,
.nu.nu-mobile-landscape:before,
.nu.nu-modules:before,
.nu.nu-move-to:before,
.nu.nu-network-100:before,
.nu.nu-network-50:before,
.nu.nu-networking:before,
.nu.nu-no-color:before,
.nu.nu-notification:before,
.nu.nu-notification-muted:before,
.nu.nu-nunify:before,
.nu.nu-nunify-circle:before,
.nu.nu-nunify-circle-filled:before,
.nu.nu-nunify-filled:before,
.nu.nu-nunify-tm:before,
.nu.nu-paint-brush:before,
.nu.nu-palette:before,
.nu.nu-palette-filled:before,
.nu.nu-paragraph:before,
.nu.nu-parking:before,
.nu.nu-paste:before,
.nu.nu-paste-format:before,
.nu.nu-pause:before,
.nu.nu-pause-filled:before,
.nu.nu-pencil:before,
.nu.nu-people:before,
.nu.nu-person:before,
.nu.nu-person-banned:before,
.nu.nu-person-business:before,
.nu.nu-person-host:before,
.nu.nu-person-plus:before,
.nu.nu-person-speaker:before,
.nu.nu-pin:before,
.nu.nu-pin-filled:before,
.nu.nu-play:before,
.nu.nu-play-filled:before,
.nu.nu-plus:before,
.nu.nu-poll:before,
.nu.nu-power:before,
.nu.nu-power-off:before,
.nu.nu-print:before,
.nu.nu-promotion:before,
.nu.nu-puzzle:before,
.nu.nu-q-n-a:before,
.nu.nu-qr-code:before,
.nu.nu-question:before,
.nu.nu-raise-hand:before,
.nu.nu-reaction:before,
.nu.nu-reaction-filled:before,
.nu.nu-record:before,
.nu.nu-record-filled:before,
.nu.nu-redo:before,
.nu.nu-refresh:before,
.nu.nu-rename:before,
.nu.nu-rewind:before,
.nu.nu-rewind-end:before,
.nu.nu-rewind-end-filled:before,
.nu.nu-rewind-filled:before,
.nu.nu-rotate-left:before,
.nu.nu-rotate-right:before,
.nu.nu-rtl:before,
.nu.nu-search:before,
.nu.nu-settings:before,
.nu.nu-settings-tune:before,
.nu.nu-show:before,
.nu.nu-sitemap:before,
.nu.nu-star:before,
.nu.nu-star-filled:before,
.nu.nu-stop:before,
.nu.nu-stop-filled:before,
.nu.nu-strike-through:before,
.nu.nu-strike-through-abc:before,
.nu.nu-subscript:before,
.nu.nu-superscript:before,
.nu.nu-support:before,
.nu.nu-swap:before,
.nu.nu-swap-v:before,
.nu.nu-switch-off:before,
.nu.nu-switch-on:before,
.nu.nu-tab:before,
.nu.nu-tab-landscape:before,
.nu.nu-table:before,
.nu.nu-tag:before,
.nu.nu-tag-filled:before,
.nu.nu-tags:before,
.nu.nu-tags-filled:before,
.nu.nu-text-capitalize:before,
.nu.nu-text-color:before,
.nu.nu-text-lowercase:before,
.nu.nu-text-uppercase:before,
.nu.nu-thumbs-down:before,
.nu.nu-thumbs-down-filled:before,
.nu.nu-thumbs-up:before,
.nu.nu-thumbs-up-filled:before,
.nu.nu-ticket:before,
.nu.nu-times:before,
.nu.nu-trash:before,
.nu.nu-triangle-down:before,
.nu.nu-triangle-left:before,
.nu.nu-triangle-right:before,
.nu.nu-triangle-up:before,
.nu.nu-trophy:before,
.nu.nu-twitter:before,
.nu.nu-underline:before,
.nu.nu-undo:before,
.nu.nu-unlock:before,
.nu.nu-upload:before,
.nu.nu-video-camera:before,
.nu.nu-video-camera-muted:before,
.nu.nu-view:before,
.nu.nu-vimeo:before,
.nu.nu-volume:before,
.nu.nu-volume-25:before,
.nu.nu-volume-50:before,
.nu.nu-volume-muted:before,
.nu.nu-vue-js:before,
.nu.nu-website:before,
.nu.nu-whatsapp:before,
.nu.nu-www:before,
.nu.nu-youtube:before,
.nu.nu-zoom:before {
  display: inline-block;
  font-family: "nunify-icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.nu.nu-admin:before { content: "\f100"; }
.nu.nu-aidaio:before { content: "\f101"; }
.nu.nu-align-bottom:before { content: "\f1eb"; }
.nu.nu-align-center:before { content: "\f1ec"; }
.nu.nu-align-left:before { content: "\f1ed"; }
.nu.nu-align-middle:before { content: "\f1ee"; }
.nu.nu-align-right:before { content: "\f1ef"; }
.nu.nu-align-top:before { content: "\f1f0"; }
.nu.nu-analytics:before { content: "\f102"; }
.nu.nu-angle-down:before { content: "\f103"; }
.nu.nu-angle-left:before { content: "\f104"; }
.nu.nu-angle-right:before { content: "\f105"; }
.nu.nu-angle-up:before { content: "\f106"; }
.nu.nu-arrow-down:before { content: "\f107"; }
.nu.nu-arrow-left:before { content: "\f108"; }
.nu.nu-arrow-right:before { content: "\f109"; }
.nu.nu-arrow-up:before { content: "\f10a"; }
.nu.nu-attachment:before { content: "\f10b"; }
.nu.nu-ban:before { content: "\f1bd"; }
.nu.nu-ban-filled:before { content: "\f1be"; }
.nu.nu-bar-chart:before { content: "\f10c"; }
.nu.nu-billboard:before { content: "\f10d"; }
.nu.nu-blockquote:before { content: "\f209"; }
.nu.nu-bold:before { content: "\f1f1"; }
.nu.nu-bookmark:before { content: "\f214"; }
.nu.nu-bookmark-filled:before { content: "\f215"; }
.nu.nu-booth:before { content: "\f10e"; }
.nu.nu-brightness:before { content: "\f235"; }
.nu.nu-calendar:before { content: "\f10f"; }
.nu.nu-calendar-plus:before { content: "\f110"; }
.nu.nu-call:before { content: "\f111"; }
.nu.nu-call-end:before { content: "\f112"; }
.nu.nu-camera:before { content: "\f20a"; }
.nu.nu-chat:before { content: "\f113"; }
.nu.nu-chat-conversation:before { content: "\f114"; }
.nu.nu-check:before { content: "\f1da"; }
.nu.nu-clear-format:before { content: "\f1f2"; }
.nu.nu-clock:before { content: "\f115"; }
.nu.nu-copy:before { content: "\f1c3"; }
.nu.nu-copy-to:before { content: "\f221"; }
.nu.nu-credit-card:before { content: "\f1c4"; }
.nu.nu-credit-card-alt:before { content: "\f1c5"; }
.nu.nu-crop:before { content: "\f236"; }
.nu.nu-currency-bitcoin:before { content: "\f222"; }
.nu.nu-currency-cny:before { content: "\f223"; }
.nu.nu-currency-eur:before { content: "\f224"; }
.nu.nu-currency-gbp:before { content: "\f225"; }
.nu.nu-currency-inr:before { content: "\f226"; }
.nu.nu-currency-jpy:before { content: "\f227"; }
.nu.nu-currency-usd:before { content: "\f228"; }
.nu.nu-cut:before { content: "\f216"; }
.nu.nu-desktop:before { content: "\f116"; }
.nu.nu-document:before { content: "\f117"; }
.nu.nu-double-check:before { content: "\f1db"; }
.nu.nu-download:before { content: "\f118"; }
.nu.nu-ellipsis:before { content: "\f119"; }
.nu.nu-ellipsis-h:before { content: "\f11a"; }
.nu.nu-ext-avi:before { content: "\f11b"; }
.nu.nu-ext-bmp:before { content: "\f11c"; }
.nu.nu-ext-cpp:before { content: "\f11d"; }
.nu.nu-ext-css:before { content: "\f11e"; }
.nu.nu-ext-doc:before { content: "\f11f"; }
.nu.nu-ext-gif:before { content: "\f120"; }
.nu.nu-ext-html:before { content: "\f121"; }
.nu.nu-ext-java:before { content: "\f122"; }
.nu.nu-ext-jpg:before { content: "\f123"; }
.nu.nu-ext-js:before { content: "\f124"; }
.nu.nu-ext-mov:before { content: "\f125"; }
.nu.nu-ext-mp3:before { content: "\f126"; }
.nu.nu-ext-mp4:before { content: "\f127"; }
.nu.nu-ext-pdf:before { content: "\f128"; }
.nu.nu-ext-php:before { content: "\f129"; }
.nu.nu-ext-png:before { content: "\f12a"; }
.nu.nu-ext-ppt:before { content: "\f12b"; }
.nu.nu-ext-psd:before { content: "\f12c"; }
.nu.nu-ext-tiff:before { content: "\f12d"; }
.nu.nu-ext-txt:before { content: "\f12e"; }
.nu.nu-ext-vue:before { content: "\f12f"; }
.nu.nu-ext-wav:before { content: "\f130"; }
.nu.nu-ext-xls:before { content: "\f131"; }
.nu.nu-ext-zip:before { content: "\f132"; }
.nu.nu-facebook:before { content: "\f133"; }
.nu.nu-file-attachment:before { content: "\f134"; }
.nu.nu-file-audio:before { content: "\f135"; }
.nu.nu-file-avi:before { content: "\f136"; }
.nu.nu-file-blank:before { content: "\f137"; }
.nu.nu-file-bmp:before { content: "\f138"; }
.nu.nu-file-code:before { content: "\f139"; }
.nu.nu-file-cpp:before { content: "\f13a"; }
.nu.nu-file-css:before { content: "\f13b"; }
.nu.nu-file-doc:before { content: "\f13c"; }
.nu.nu-file-gif:before { content: "\f13d"; }
.nu.nu-file-html:before { content: "\f13e"; }
.nu.nu-file-image:before { content: "\f13f"; }
.nu.nu-file-java:before { content: "\f140"; }
.nu.nu-file-jpg:before { content: "\f141"; }
.nu.nu-file-js:before { content: "\f142"; }
.nu.nu-file-mov:before { content: "\f143"; }
.nu.nu-file-mp3:before { content: "\f144"; }
.nu.nu-file-mp4:before { content: "\f145"; }
.nu.nu-file-pdf:before { content: "\f146"; }
.nu.nu-file-php:before { content: "\f147"; }
.nu.nu-file-png:before { content: "\f148"; }
.nu.nu-file-ppt:before { content: "\f149"; }
.nu.nu-file-psd:before { content: "\f14a"; }
.nu.nu-file-tiff:before { content: "\f14b"; }
.nu.nu-file-txt:before { content: "\f14c"; }
.nu.nu-file-video:before { content: "\f14d"; }
.nu.nu-file-vue:before { content: "\f14e"; }
.nu.nu-file-wav:before { content: "\f14f"; }
.nu.nu-file-xls:before { content: "\f150"; }
.nu.nu-file-zip:before { content: "\f151"; }
.nu.nu-film-reel:before { content: "\f152"; }
.nu.nu-flag:before { content: "\f217"; }
.nu.nu-flag-filled:before { content: "\f218"; }
.nu.nu-folder:before { content: "\f153"; }
.nu.nu-folder-open:before { content: "\f154"; }
.nu.nu-forward:before { content: "\f155"; }
.nu.nu-forward-end:before { content: "\f156"; }
.nu.nu-forward-filled:before { content: "\f158"; }
.nu.nu-full-screen:before { content: "\f159"; }
.nu.nu-full-screen-exit:before { content: "\f15a"; }
.nu.nu-gamepad:before { content: "\f1dc"; }
.nu.nu-globe:before { content: "\f15b"; }
.nu.nu-globe-africa:before { content: "\f15c"; }
.nu.nu-globe-americas:before { content: "\f15d"; }
.nu.nu-gps:before { content: "\f1e9"; }
.nu.nu-handshake:before { content: "\f1dd"; }
.nu.nu-hd:before { content: "\f15e"; }
.nu.nu-hd-filled:before { content: "\f15f"; }
.nu.nu-hd-outline:before { content: "\f160"; }
.nu.nu-heading:before { content: "\f1f3"; }
.nu.nu-heading1:before { content: "\f1f4"; }
.nu.nu-heading2:before { content: "\f1f5"; }
.nu.nu-heading3:before { content: "\f1f6"; }
.nu.nu-heading4:before { content: "\f1f7"; }
.nu.nu-heading5:before { content: "\f1f8"; }
.nu.nu-heading6:before { content: "\f1f9"; }
.nu.nu-headphones:before { content: "\f161"; }
.nu.nu-heart:before { content: "\f162"; }
.nu.nu-heart-filled:before { content: "\f1e6"; }
.nu.nu-hearts:before { content: "\f163"; }
.nu.nu-hide:before { content: "\f1c6"; }
.nu.nu-highlight-color:before { content: "\f1fa"; }
.nu.nu-home:before { content: "\f164"; }
.nu.nu-hospital:before { content: "\f237"; }
.nu.nu-identity-card:before { content: "\f1c7"; }
.nu.nu-identity-card-filled:before { content: "\f1c8"; }
.nu.nu-image:before { content: "\f165"; }
.nu.nu-indent-decrease:before { content: "\f1fb"; }
.nu.nu-indent-increase:before { content: "\f1fc"; }
.nu.nu-info:before { content: "\f166"; }
.nu.nu-instagram:before { content: "\f167"; }
.nu.nu-italic:before { content: "\f1fd"; }
.nu.nu-join:before { content: "\f168"; }
.nu.nu-laptop:before { content: "\f169"; }
.nu.nu-layers:before { content: "\f1c9"; }
.nu.nu-leaderboard:before { content: "\f1de"; }
.nu.nu-letter-spacing:before { content: "\f229"; }
.nu.nu-lightbulb:before { content: "\f1df"; }
.nu.nu-lightbulb-on:before { content: "\f1e0"; }
.nu.nu-line-break:before { content: "\f231"; }
.nu.nu-line-height:before { content: "\f1fe"; }
.nu.nu-link:before { content: "\f1ff"; }
.nu.nu-link-remove:before { content: "\f219"; }
.nu.nu-linkedin:before { content: "\f16a"; }
.nu.nu-list:before { content: "\f1ca"; }
.nu.nu-list-bulleted:before { content: "\f200"; }
.nu.nu-list-numbered:before { content: "\f201"; }
.nu.nu-live:before { content: "\f16b"; }
.nu.nu-live-now:before { content: "\f16c"; }
.nu.nu-location:before { content: "\f1e1"; }
.nu.nu-location-filled:before { content: "\f1e7"; }
.nu.nu-lock:before { content: "\f22a"; }
.nu.nu-lounge:before { content: "\f16d"; }
.nu.nu-lounge-cushion:before { content: "\f16e"; }
.nu.nu-ltr:before { content: "\f21a"; }
.nu.nu-mail:before { content: "\f16f"; }
.nu.nu-mail-forward:before { content: "\f20b"; }
.nu.nu-mail-open:before { content: "\f22b"; }
.nu.nu-mail-reply:before { content: "\f20c"; }
.nu.nu-mail-reply-all:before { content: "\f20d"; }
.nu.nu-mailer:before { content: "\f1e2"; }
.nu.nu-map:before { content: "\f1e3"; }
.nu.nu-medal:before { content: "\f1cb"; }
.nu.nu-medal-filled:before { content: "\f1cc"; }
.nu.nu-menu:before { content: "\f170"; }
.nu.nu-message:before { content: "\f171"; }
.nu.nu-microphone:before { content: "\f172"; }
.nu.nu-microphone-muted:before { content: "\f173"; }
.nu.nu-minus:before { content: "\f174"; }
.nu.nu-mobile:before { content: "\f175"; }
.nu.nu-mobile-landscape:before { content: "\f176"; }
.nu.nu-modules:before { content: "\f177"; }
.nu.nu-move-to:before { content: "\f22c"; }
.nu.nu-network-100:before { content: "\f178"; }
.nu.nu-network-50:before { content: "\f179"; }
.nu.nu-networking:before { content: "\f17a"; }
.nu.nu-no-color:before { content: "\f202"; }
.nu.nu-notification:before { content: "\f17b"; }
.nu.nu-notification-muted:before { content: "\f17c"; }
.nu.nu-nunify:before { content: "\f17d"; }
.nu.nu-nunify-circle:before { content: "\f17e"; }
.nu.nu-nunify-circle-filled:before { content: "\f17f"; }
.nu.nu-nunify-filled:before { content: "\f180"; }
.nu.nu-nunify-tm:before { content: "\f181"; }
.nu.nu-paint-brush:before { content: "\f1e4"; }
.nu.nu-palette:before { content: "\f1cd"; }
.nu.nu-palette-filled:before { content: "\f1ce"; }
.nu.nu-paragraph:before { content: "\f203"; }
.nu.nu-parking:before { content: "\f238"; }
.nu.nu-paste:before { content: "\f21b"; }
.nu.nu-paste-format:before { content: "\f204"; }
.nu.nu-pause:before { content: "\f182"; }
.nu.nu-pause-filled:before { content: "\f183"; }
.nu.nu-pencil:before { content: "\f1cf"; }
.nu.nu-people:before { content: "\f184"; }
.nu.nu-person:before { content: "\f185"; }
.nu.nu-person-banned:before { content: "\f1bf"; }
.nu.nu-person-business:before { content: "\f1d0"; }
.nu.nu-person-host:before { content: "\f186"; }
.nu.nu-person-plus:before { content: "\f1e8"; }
.nu.nu-person-speaker:before { content: "\f187"; }
.nu.nu-pin:before { content: "\f1c1"; }
.nu.nu-pin-filled:before { content: "\f1c2"; }
.nu.nu-play:before { content: "\f188"; }
.nu.nu-play-filled:before { content: "\f189"; }
.nu.nu-plus:before { content: "\f18a"; }
.nu.nu-poll:before { content: "\f18b"; }
.nu.nu-power:before { content: "\f18c"; }
.nu.nu-power-off:before { content: "\f18d"; }
.nu.nu-print:before { content: "\f205"; }
.nu.nu-promotion:before { content: "\f232"; }
.nu.nu-puzzle:before { content: "\f1d1"; }
.nu.nu-q-n-a:before { content: "\f18e"; }
.nu.nu-qr-code:before { content: "\f1d2"; }
.nu.nu-question:before { content: "\f18f"; }
.nu.nu-raise-hand:before { content: "\f190"; }
.nu.nu-reaction:before { content: "\f191"; }
.nu.nu-reaction-filled:before { content: "\f192"; }
.nu.nu-record:before { content: "\f193"; }
.nu.nu-record-filled:before { content: "\f194"; }
.nu.nu-redo:before { content: "\f20e"; }
.nu.nu-refresh:before { content: "\f1ea"; }
.nu.nu-rename:before { content: "\f21c"; }
.nu.nu-rewind:before { content: "\f195"; }
.nu.nu-rewind-end:before { content: "\f196"; }
.nu.nu-rewind-end-filled:before { content: "\f197"; }
.nu.nu-rewind-filled:before { content: "\f198"; }
.nu.nu-rotate-left:before { content: "\f20f"; }
.nu.nu-rotate-right:before { content: "\f210"; }
.nu.nu-rtl:before { content: "\f21d"; }
.nu.nu-search:before { content: "\f199"; }
.nu.nu-settings:before { content: "\f19a"; }
.nu.nu-settings-tune:before { content: "\f19b"; }
.nu.nu-show:before { content: "\f1d3"; }
.nu.nu-sitemap:before { content: "\f1e5"; }
.nu.nu-star:before { content: "\f19c"; }
.nu.nu-star-filled:before { content: "\f19d"; }
.nu.nu-stop:before { content: "\f19e"; }
.nu.nu-stop-filled:before { content: "\f19f"; }
.nu.nu-strike-through:before { content: "\f206"; }
.nu.nu-strike-through-abc:before { content: "\f21e"; }
.nu.nu-subscript:before { content: "\f21f"; }
.nu.nu-superscript:before { content: "\f220"; }
.nu.nu-support:before { content: "\f1a0"; }
.nu.nu-swap:before { content: "\f211"; }
.nu.nu-swap-v:before { content: "\f212"; }
.nu.nu-switch-off:before { content: "\f1a1"; }
.nu.nu-switch-on:before { content: "\f1a2"; }
.nu.nu-tab:before { content: "\f1a3"; }
.nu.nu-tab-landscape:before { content: "\f1a4"; }
.nu.nu-table:before { content: "\f1d4"; }
.nu.nu-tag:before { content: "\f1d5"; }
.nu.nu-tag-filled:before { content: "\f1d6"; }
.nu.nu-tags:before { content: "\f1d7"; }
.nu.nu-tags-filled:before { content: "\f1d8"; }
.nu.nu-text-capitalize:before { content: "\f22d"; }
.nu.nu-text-color:before { content: "\f207"; }
.nu.nu-text-lowercase:before { content: "\f22e"; }
.nu.nu-text-uppercase:before { content: "\f22f"; }
.nu.nu-thumbs-down:before { content: "\f1a5"; }
.nu.nu-thumbs-down-filled:before { content: "\f1a6"; }
.nu.nu-thumbs-up:before { content: "\f1a7"; }
.nu.nu-thumbs-up-filled:before { content: "\f1a8"; }
.nu.nu-ticket:before { content: "\f1a9"; }
.nu.nu-times:before { content: "\f1aa"; }
.nu.nu-trash:before { content: "\f1c0"; }
.nu.nu-triangle-down:before { content: "\f1ab"; }
.nu.nu-triangle-left:before { content: "\f1ac"; }
.nu.nu-triangle-right:before { content: "\f1ad"; }
.nu.nu-triangle-up:before { content: "\f1ae"; }
.nu.nu-trophy:before { content: "\f1d9"; }
.nu.nu-twitter:before { content: "\f1af"; }
.nu.nu-underline:before { content: "\f208"; }
.nu.nu-undo:before { content: "\f213"; }
.nu.nu-unlock:before { content: "\f230"; }
.nu.nu-upload:before { content: "\f1b0"; }
.nu.nu-video-camera:before { content: "\f1b1"; }
.nu.nu-video-camera-muted:before { content: "\f1b2"; }
.nu.nu-view:before { content: "\f1b3"; }
.nu.nu-vimeo:before { content: "\f1b4"; }
.nu.nu-volume:before { content: "\f1b5"; }
.nu.nu-volume-25:before { content: "\f1b6"; }
.nu.nu-volume-50:before { content: "\f1b7"; }
.nu.nu-volume-muted:before { content: "\f1b8"; }
.nu.nu-vue-js:before { content: "\f1b9"; }
.nu.nu-website:before { content: "\f233"; }
.nu.nu-whatsapp:before { content: "\f1ba"; }
.nu.nu-www:before { content: "\f234"; }
.nu.nu-youtube:before { content: "\f1bb"; }
.nu.nu-zoom:before { content: "\f1bc"; }
